body {
    background-color: rgb(37, 31, 31);
    color: antiquewhite;
  font-family: Arial;
  padding: 20px;
}

form input, form select {
    background-color: rgb(255, 197, 111);
  margin: 5px;
  padding: 8px;
  width: 200px;
}

button {
    background-color: rgb(255, 197, 111);
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}
